<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
    <a href="{{ url_for('index') }}">Домашняя страница</a>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
     <ul>
         {% for message in messages %}
         <li>{{ message }}</li>
         {% endfor %}
     </ul>
    {% endif %}
    {% endwith %}
    <form action="{{ url_for('appointment') }}" method="post">
        {{ choose_timetable_doctor.doctor() }}<br>
        {{ choose_timetable_doctor.date() }}<br>
        {{ choose_timetable_doctor.submit_choose() }}
    </form>
</body>
</html>
